<div>
  <form [formGroup]="addBasketForm" (ngSubmit)="addToBasket()">
    <label>
      รหัสสินค้า
      <input id="barcode" formControlName="barcode" autofocus />
    </label>
    <label>
      จำนวน
      <input type="number" id="quantity" formControlName="quantity" value="1" required/>
    </label>
    <button mat-button id="add-to-basket" type="submit" [disabled]="!addBasketForm.valid">Go</button>
  </form>
  <mat-icon aria-hidden="false" aria-label="printer icon">printer</mat-icon>
</div>
<table matSort>
  <tr>
    <th mat-sort-header="quanty">จำนวน</th>
    <th mat-sort-header="name">รายการ</th>
    <th mat-sort-header="unit_price">หน่วยละ</th>
    <th mat-sort-header="amount">จำนวนเงิน</th>
  </tr>

  <tr *ngFor="let dessert of products">
    <td>{{dessert.quantity}}</td>
    <td>{{dessert.name}}</td>
    <td>{{dessert.unit_price}}</td>
    <td>{{dessert.amount}}</td>
  </tr>
  <tr>
    <td>รวม</td>
    <td>{{total_price}}</td>
  </tr>
</table>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">