.mat-sort-header-container {
    align-items: center;
  }
  
  #search-box {
    width: 200px;
    height: 20px;
  }
  #amount-box {
    width: 80px;
    height: 20px;
  }
  mat-grid-tile {
    background: #e3f0f5;
  }

  #member_store{
    display: none;
  }

  #bill_wholesale_template{
    display: none;
  }

  table{
    width: 100%;
  }

  .head-bill{
    text-align: center;
    margin-bottom: 3%;
  }

  .body-bill{
    width: 90%;
    margin: auto;
  }

  .foot-bill{
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
  }