<div>
    <form [formGroup]="addBasketForm" (ngSubmit)="addToBasket()">
        <label>
            รหัสสินค้า
            <input id="barcode" formControlName="barcode" autofocus />
        </label>
        <label>
            จำนวน
            <input type="number" id="quantity" formControlName="quantity" value="1" required />
        </label>
        <button mat-button id="add-to-basket" type="submit" [disabled]="!addBasketForm.valid">Go</button>

    </form>
    <button id="printer_icon" [useExistingCss]="true" printSectionId="bill_wholesale_template" ngxPrint>
        <mat-icon aria-hidden="false" aria-label="printer icon">printer</mat-icon>
    </button>
    &nbsp;&nbsp;
    <button (click)="clearCart()">
        <mat-icon aria-hidden="false" aria-label="printer icon">remove_shopping_cart</mat-icon>
    </button>
    <p id="errot_text">{{errorText}}</p>
</div>
<table mat-table [dataSource]="basket" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let index = index"> {{index+1}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>รายการ</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>จำนวน</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>
    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef class="td-conten-center">หน่วย</th>
        <td mat-cell *matCellDef="let element" class="td-conten-center">{{element.unit_type}}</td>
    </ng-container>
    <ng-container matColumnDef="wholesale_price">
        <th mat-header-cell *matHeaderCellDef class="th-rigth">ราคา/หน่วย</th>
        <td mat-cell *matCellDef="let element" class="th-rigth">{{element.wholesale_price | number:'.2'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="th-rigth">รวมเงิน</th>
        <td mat-cell *matCellDef="let element" class="th-rigth">{{element.wholesale_amount | number:'.2'}}</td>
    </ng-container>
    <ng-container matColumnDef="choose">
        <th mat-header-cell *matHeaderCellDef class="th-rigth">ตัวเลือก</th>
        <td mat-cell *matCellDef="let element" class="th-rigth">
            <a>
                <mat-icon aria-hidden="false" aria-label="delete icon" (click)="removeItem(element.id)">delete
                </mat-icon>
            </a>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="total-price">
    <b>รวมสุทธิ:</b> {{total_price | number:'.2'}} บาท
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="bill_wholesale_template">
    <div class="head-bill">
        <H3>ร้าน โตโต้พาณิชย์</H3>
        42 หมู่ 3 ต.หนองข่า อ.ปทุมราขวงศา จ.อำนาจเจริญ 37110 <br>
        เลขประจำตัวผู้เสียภาษี: 3340600078282 <br>
        โทร: 088-7634646
    </div>
    <div class="body-bill">
        <table mat-table [dataSource]="basket" class="mat-elevation-z8">
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let index = index"> {{index+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>รายการ</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>จำนวน</th>
                <td mat-cell *matCellDef="let element" style="padding-left: 3px;">{{element.quantity}}</td>
            </ng-container>
            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>หน่วย</th>
                <td mat-cell *matCellDef="let element">{{element.unit_type}}</td>
            </ng-container>
            <ng-container matColumnDef="wholesale_price">
                <th mat-header-cell *matHeaderCellDef class="th-rigth">ราคา/หน่วย</th>
                <td mat-cell *matCellDef="let element" class="th-rigth">{{element.wholesale_price | number:'.2'}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef class="th-rigth">รวมเงิน</th>
                <td mat-cell *matCellDef="let element" class="th-rigth">{{element.wholesale_amount | number:'.2'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBill"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBill;"></tr>
        </table>
    </div>
    <div class="foot-bill">
        <b>รวมสุทธิ:</b> {{total_price | number:'.2'}} บาท<br>
        <b>ยอดชำระ:</b> ................... บาท<br>
        <b>เงินทอน:</b> .................... บาท
    </div>

</div>
<div id="member_store">
    <h2>รายชื่อร้านค้า</h2>
    <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile>
            <mat-grid-list cols="4">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">พี่จุ๋ม</mat-radio-button>
                    <mat-radio-button value="2">ใย่พวย</mat-radio-button>
                    <mat-radio-button value="2">กท ม9</mat-radio-button>
                    <mat-radio-button value="2">แสงทอง</mat-radio-button>
                    <mat-radio-button value="2">แม่ใย่ใค</mat-radio-button>
                    <mat-radio-button value="2">ใย่บัวบาน</mat-radio-button>
                    <mat-radio-button value="2">พ่อชัย</mat-radio-button>
                    <mat-radio-button value="2">กท ม2</mat-radio-button>
                    <mat-radio-button value="2">เจ้นก</mat-radio-button>
                </mat-radio-group>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">