<div>
    <form [formGroup]="addBasketForm" (ngSubmit)="addToBasket()">
        <label>
            รหัสสินค้า
            <input id="barcode" formControlName="barcode" autofocus />
        </label>
        <label>
            จำนวน
            <input type="number" id="quantity" formControlName="quantity" value="1" required />
        </label>
        <button mat-button id="add-to-basket" type="submit" [disabled]="!addBasketForm.valid">Go</button>

    </form>
    <button id="printer_icon" [useExistingCss]="true" printSectionId="bill_wholesale_template" ngxPrint>
        <mat-icon aria-hidden="false" aria-label="printer icon">printer</mat-icon>
    </button>
    <p id="errot_text">{{errorText}}</p>
</div>
<table matSort>
    <tr>
        <th mat-sort-header="quanty">จำนวน</th>
        <th mat-sort-header="name">รายการ</th>
        <th mat-sort-header="unit">หน่วย</th>
        <th mat-sort-header="front_store_price">หน่วยละ</th>
        <th mat-sort-header="amount">จำนวนเงิน</th>
    </tr>

    <tr *ngFor="let dessert of basket">
        <td>{{dessert.quantity}}</td>
        <td>{{dessert.name}}</td>
        <td>{{dessert.unit_type}}</td>
        <td>{{dessert.wholesale_price}}</td>
        <td>{{dessert.wholesale_amount}}</td>
        <td>
            <a>
                <mat-icon aria-hidden="false" aria-label="delete icon" (click)="removeItem(dessert.id)">delete
                </mat-icon>
            </a>
        </td>
    </tr>
</table>
<div class="foot-bill">
    <b>รวมสุทธิ:</b> {{total_price | number:'.2'}} บาท
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="bill_wholesale_template">
    <div class="head-bill">
        <H3>ร้าน โตโต้พาณิชย์</H3>
        42 หมู่ 3 ต.หนองข่า อ.ปทุมราขวงศา จ.อำนาจเจริญ 37110 <br>
        เลขประจำตัวผู้เสียภาษี: 3340600078282 <br>
        โทร: 088-7634646
    </div>
    <div class="body-bill">
        <table matSort>
            <tr>
                <th mat-sort-header="quanty">จำนวน</th>
                <th mat-sort-header="name">รายการ</th>
                <th mat-sort-header="unit">หน่วย</th>
                <th mat-sort-header="front_store_price">หน่วยละ</th>
                <th mat-sort-header="amount">จำนวนเงิน</th>
            </tr>

            <tr *ngFor="let dessert of basket">
                <td>{{dessert.quantity}}</td>
                <td>{{dessert.name}}</td>
                <td>{{dessert.unit_type}}</td>
                <td>{{dessert.wholesale_price}}</td>
                <td>{{dessert.wholesale_amount}}</td>
            </tr>
        </table>

    </div>
    <div class="foot-bill">
        <b>รวมสุทธิ:</b> {{total_price | number:'.2'}} บาท
    </div>

</div>
<div id="member_store">
    <h2>รายชื่อร้านค้า</h2>
    <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile>
            <mat-grid-list cols="4">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">พี่จุ๋ม</mat-radio-button>
                    <mat-radio-button value="2">ใย่พวย</mat-radio-button>
                    <mat-radio-button value="2">กท ม9</mat-radio-button>
                    <mat-radio-button value="2">แสงทอง</mat-radio-button>
                    <mat-radio-button value="2">แม่ใย่ใค</mat-radio-button>
                    <mat-radio-button value="2">ใย่บัวบาน</mat-radio-button>
                    <mat-radio-button value="2">พ่อชัย</mat-radio-button>
                    <mat-radio-button value="2">กท ม2</mat-radio-button>
                    <mat-radio-button value="2">เจ้นก</mat-radio-button>
                </mat-radio-group>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">