.td-conten-center {
    text-align: center;
  }
  mat-grid-tile {
    background: #e3f0f5;
  }

  #member_store{
    display: none;
  }

  #bill_wholesale_template{
    display: none;
  }

  table{
    width: 100%;
  }

  .head-bill{
    text-align: center;
    margin-bottom: 3%;
  }

  .body-bill{
    margin: auto;
  }

  .foot-bill{
    text-align: right;
    margin-top: 3%;
    bottom: 5%;
    right: 5%;
    position: absolute;
  }

  .total-price{
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
  }
  .th-rigth{
    text-align: right;
  }
  .content {
    display: flex;
    margin: 10px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .margin{
    margin: 1%;
  }