table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.formAddProduct{
  display: flex;
  justify-content: center;
}

#error_text{
  background-color: red;
  color: white;
}

.mat-form-field {
  font-size: 18px;
  width: 30%;
  background-color:#F5F5F5;
}