table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.formAddProduct{
  display: flex;
  justify-content: center;
}
input{
  width: 20%;
}

#error_text{
  background-color: red;
  color: white;
}